<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootApp" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.parimal.firstProject.SpringBootFirstProject.SpringBootFirstProjectApplication" />
    <module name="SpringBootFirstProject" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>